/*==================================
        FINAL BRAND CARD
==================================*/

.brand-card{

    background:#fff;

    border-radius:18px;

    padding:10px 5px;

    text-align:center;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.3s;

    height:85%;

    display:flex;

    flex-direction:column;

    align-items:center;

}

.brand-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 35px rgba(0,0,0,.12);

}

.brand-card img{

    width:160px;

    height:90px;

    object-fit:contain;

    margin-bottom:15px;

}

.brand-card h4{

    font-size:24px;

    color:#1B5E20;

    font-weight:700;

    margin-bottom:10px;

}

.brand-products{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:8px;

    margin-bottom:15px;

}

.brand-products span{

    background:#E8F5E9;

    color:#1B5E20;

    padding:20px 20px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}

.brand-card .btn{

    margin-top:auto;

    border-radius:30px;

    padding:10px 14px;

}