/*==================================
            FOOTER
==================================*/

.footer{

    background:#1E293B;/*#52856c;*/

    color:#fff;

    padding:15px 0 15px;

}

.footer-brand{

    display:flex;

    align-items:center;

    margin-bottom:10px;

}

.footer-logo{

    width:90px;

    margin-right:15px;

}

.footer-brand h4{

    margin:0;

    font-size:28px;

    font-weight:700;

}

.footer-brand span{

    color:#9CCC65;

    font-size:14px;

}

.footer-about{

    color:#d6e5d8;

    line-height:1.7;

    margin-top:15px;

}

.footer h5{

    font-size:22px;

    font-weight:700;

    margin-bottom:18px;

    position:relative;

}

.footer h5::after{

    content:"";

    width:45px;

    height:3px;

    background:#FFC107;

    display:block;

    margin-top:8px;

    border-radius:3px;

}

.footer-links{

    list-style:none;

    padding:0;

    margin:0;

}

.footer-links li{

    margin-bottom:10px;

}

.footer-links a{

    color:#d6e5d8;

    text-decoration:none;

    transition:.3s;

}

.footer-links a:hover{

    color:#FFC107;

    padding-left:5px;

}

.footer p{

    color:#d6e5d8;

    line-height:1.7;

    margin-bottom:15px;

}

.footer i{

    color:#FFC107;

    margin-right:8px;

}

.footer hr{

    border-color:rgba(255,255,255,.15);

    margin:20px 0;

}

.footer-bottom{

    text-align:center;

    font-size:14px;

    color:#cfd8dc;

}

@media(max-width:768px){

.footer{

    text-align:center;

}

.footer-brand{

    flex-direction:column;

}

.footer-logo{

    margin-right:0;

    margin-bottom:15px;

}

.footer h5::after{

    margin:8px auto 0;

}

}