

@import url("variables.css");
@import url("navbar.css");
@import url("hero.css");
@import url("about.css");
@import url("products.css");
@import url("brands.css");
@import url("gallery.css");
@import url("footer.css");
@import url("responsive.css");
@import url("WHATSAPP.css");
@import url("buttons.css");
@import url("whychoose.css");
/* ==========================
   GLOBAL
========================== */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f9fa;
}


/*=========================
      Statistics Section
=========================*/
.stats-section{
    background:#166b2f;
    padding:5px 0;
    color:#fff;
}

.stats-section .section-tag{
    display:inline-block;
    background:#2c7a3f;
    padding:6px 18px;
    border-radius:10px;
    margin-bottom:5px;
}

.stats-section .section-title{
    font-size:16px;
    font-weight:700;
    margin:5px 0;
    line-height:1.2;
}

.stats-section .section-subtitle{
    font-size:12px;
    max-width:700px;
    margin:0 auto 5px;
    line-height:1.5;
}

.stat-box{
    
    padding:5px;
}

.stat-box h4{
    color: #ff9800;
    font-size:28px;
    margin-bottom:4px;
    line-height:1;
}

.stat-box p{
    
    font-size:12px;
    margin:0;
}
/* Mobile */

@media (max-width:768px){

.stats-section{
    padding:10px 0;
}

.stats-section .section-title{
    font-size:22px;
}

.stats-section .section-subtitle{
    font-size:16px;
    margin-bottom:5px;
}

.stat-box{
    padding:5px 0;
}

.stat-box h4{
    font-size:36px;
}

.stat-box p{
    font-size:16px;
}

}

/*==================================
        CTA SECTION
==================================*/

.cta-section{

    background:linear-gradient(135deg,#434643,#2E7D32);

    padding:30px 0;

    color:#fff;

}

.cta-section h2{

    font-size:38px;

    font-weight:700;

    margin-bottom:15px;

}

.cta-section p{

    color:#e8f5e9;

    font-size:18px;

    line-height:1.8;

}

.cta-section .btn{

    border-radius:40px;

    padding:14px 28px;

    font-weight:600;

}