/*=============================
    FLOATING WHATSAPP
=============================*/

.whatsapp-float{

    position:fixed;

    bottom:25px;

    right:25px;

    width:65px;

    height:65px;

    background:#25D366;

    color:#fff;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    text-decoration:none;

    font-size:34px;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    z-index:9999;

    transition:.3s;

}

.whatsapp-float:hover{

    background:#1ebe5d;

    color:#fff;

    transform:scale(1.1);

}